@model AquavitBEAT.Models.AllReleasesPublicViewmodel

@{
    ViewBag.Title = "AllReleases";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


<div class="all-releases-wrapper container" id="main-wrapper" data-pushed="false">
    @using (Html.BeginForm("AllReleases", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-3">@Html.DropDownListFor(model => model.AllReleases, Model.SortBySelecList, "Sort by ...", new { @class = "form-control", @onchange = "this.form.submit()" })</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                @*<input type="submit" class="btn btn-default" value="Sort!" />*@
            </div>
        </div>
    }


    @foreach (var release in Model.AllReleases)
    {
        <div class="row list-view">
            <div class="col-md-4"><h2><a href="/Home/Release/@release.ReleaseId">@release.Title</a></h2></div>
            <div class="col-md-3">
                @foreach (var artist in release.GetArtists())
                {
                    <p><a href="/Home/Artist/@artist.ArtistId">@artist.ArtistName</a></p>
                }
            </div>
            <div class="col-md-3">
                @foreach (var song in release.HasSongs)
                {
                    <p>@song.GetFullSongName()</p>
                }
            </div>
            <div class="col-md-1">
                <img src="@release.frontImageUrl" class="img-responsive" alt="" />

            </div>
            <div class="col-md-1">

                <img src="@release.backImageUrl" class="img-responsive" alt="" />
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>

    <script>
        $(document).ready(function () {

            var row = $('#main-wrapper');

            $('.navbar-toggle').click(function () {

                if (row.data("pushed") === false) {
                    TweenMax.to(row, 1, { y: 280 });
                    row.data("pushed", true);
                    console.log("pushed down");
                }
                else {
                    TweenMax.to(row, 1, { y: 0 });
                    row.data("pushed", false);
                    console.log("pushed up");
                }
            });

        });
    </script>

}