@model AquavitBEAT.Models.FrontPageViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@section Styles {
    <link href="~/Scripts/miniaudioplayer/css/jQuery.mb.miniAudioPlayer.min.css" rel="stylesheet" type="text/css" />
}



<div class="row frontpage-first-row">
    @foreach (var release in Model.FrontPageReleaseBox)
    {
        <div class="col-md-3 frontpage-box">
            <div class="frontpage-inner-box">
                <h1>
                    @release.ArtistNames
                </h1>
                <h2>@release.Title</h2>
                <img src="@release.frontImageUrl" alt="@release.Title" class="img-responsive" />
                <div class="front-page-formats">
                    @foreach (var format in release.FormatTypes)
                {
                        <span>@format</span>

                    }
                </div>
                <div class="player-wrapper">

                    <a id="@release.ReleaseId" class="audio" href="@release.FeaturedSongUrl">@release.FeaturedSongTitle</a>

                    @*<audio id="@release.audioPlayerId" class="audioPlayer">
                        <source src="@release.FeaturedSong" />
                    </audio>*@
                    
                </div>
                <p class="frontpage-box-releasedate">Release: @release.ReleaseDate</p>
                <p>@Html.ActionLink("Read more >>>", "Release", new { id = release.ReleaseId})</p>
            </div>
        </div>
    }
</div>


@section scripts{
    @*<script src="~/Scripts/miniaudioplayer/jquery.jplayer.min.js" type="text/javascript"></script>*@
        <script src="~/Scripts/miniaudioplayer/jquery.mb.miniAudioPlayer.min.js" type="text/javascript"></script>
        @*<script src="~/Scripts/miniaudioplayer/jquery.metadata.js" type="text/javascript"></script>*@

    <script>

        

        $(".audio").mb_miniPlayer(
    {
        playAlone: true,
        skin: 'black'
    }
    );


    </script>
}