@model AquavitBEAT.Models.ReleaseDetailsViewModel

@{
    ViewBag.Title = "Release";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/miniaudioplayercss")
}

<div class="release-details-bigbox row">
    <div class="release-details-inner">
        <div class="release-details-heading"><h1><span>@Model.ArtistNames</span> // <span>@Model.Title</span></h1></div>

        <div class="row release-details-body">
            <div class="col-md-4">
                <img class="img-responsive" src="@Model.FrontImg" alt="@Model.Title" />
            </div>
            <div class="col-md-4">

                @for (int i = 0; i < Model.FullSongTitles.Count(); i++)
                {
                    <p>@Model.FullSongTitles[i] <a id="@i" class="audio" href="@Model.AudioUrls[i]">@Model.FullSongTitles[i]</a></p>
                }


            </div>

            <div class="col-md-4 pull-right">
                @foreach (var buy in Model.BuyOrStreamLinks)
                {
                    <p class="release-details-buylinks"><a href="@buy.LinkUrl">@buy.LinkTitle // @buy.FormatName - BUY or LISTEN</a></p>
                }
            </div>


        </div>
        <div class="row">
            <div class="col-md-6 release-details-about">
                <p>@Model.About</p>
            </div>
        </div>




    </div>
</div>

@section scripts{
    <script src="~/Scripts/miniaudioplayer/jquery.mb.miniAudioPlayer.min.js" type="text/javascript"></script>

    <script>

        $(".audio").mb_miniPlayer(
    {
        playAlone: true,
        skin: 'black'
    }
    );


    </script>
}



