@model AquavitBEAT.Models.ArtistViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Artist.ArtistName <a href="/Artist/Edit/@Model.Artist.ArtistId"><span class="glyphicon glyphicon-pencil"></span></a></h2>

<div class="row artist-details-box-1">
    <div class="col-md-3">
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Artist.ArtistName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.ArtistName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Mail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Artist.About)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.About)
            </dd>
            

        </dl>
    

    </div> @*END COL*@

   

    <div class="col-md-3">

        <img class="img-responsive" src="@Model.Artist.ProfileImgUrl" alt="@Model.Artist.ArtistName" />

    </div>
    <div class="col-md-3 scroll-box">
        <h4>@Model.Artist.ArtistName has these songs:</h4>
        @foreach (var item in Model.SongToArtists)
            {
            <p>@Html.ActionLink(item.Song.Title, "SongDetails", "Songs", new { id = item.SongId }, null)</p>
            <audio controls>
                <source src="@item.Song.AudioUrl" />
            </audio>
        }
    </div>

    <div class="col-md-3">
        <h4>@Model.Artist.ArtistName has these releases:</h4>
        @foreach (var item in Model.ReleaseToArtists)
            {
            <p>@Html.ActionLink(item.Release.Title, "ReleaseDetails", "Releases", new { id = item.ReleaseId }, null)</p>
            
        }
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h3>Social Media:</h3>
    </div>
    <div class="col-md-6">
        @foreach (var some in Model.Artist.ArtistSocialMedias)
        {
            if (some.Url != "")
            {

                <p><a href="@some.Url">@some.Name</a></p>

            }
        }
    </div>

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Artist.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
