@model AquavitBEAT.Models.ArtistViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Artist.ArtistName</h2>

<div class="row">
    <div class="col-md-6">
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Artist.ArtistName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.ArtistName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Mail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Artist.About)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist.About)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Artist.SocialMedia)
            </dt>

            <dd>
                @foreach (var some in Model.Artist.SocialMedia)
                {
                    if (some.Address != "")
                    {
                        <p>@some.Name: @some.Address</p>
                    }


                }
            </dd>

        </dl>

        <div class="col-md-6">
            @foreach (var item in Model.SongToArtists)
            {
                <p>@Html.ActionLink(item.Song.Title, "Edit", "Songs", new { id = item.SongId }, null)</p>
            }
        </div>

        <div class="col-md-6">
            @foreach (var item in Model.ReleaseToArtists)
            {
                <p>@Html.ActionLink(item.Release.Title, "EditRelease", "Releases", new { id = item.ReleaseId }, null)</p>
            }
        </div>

    </div> @*END COL*@
    <div class="col-md-6">

        <img src="@Model.Artist.ProfileImgUrl" alt="@Model.Artist.ArtistName" />

    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Artist.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
