@model AquavitBEAT.Models.ArtistViewModel

@{
    ViewBag.Title = "EditArtist";
}

<h2>Edit @Model.Artist.ArtistName</h2>


@using (Html.BeginForm("Edit", "Artist", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "artist-form"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Artist.ArtistId)

        <div class="form-group">
            @Html.LabelFor(model => model.Artist.ArtistName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artist.ArtistName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.ArtistName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Artist.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.FirstName, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.Artist.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Artist.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist.About, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Artist.About, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.Artist.About, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.Artist.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Artist.Mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.Mail, "", new { @class = "text-danger" })

            </div>
            <div class="control-label col-md-4 col-md-push-2">
                <img src="@Model.Artist.ProfileImgUrl" alt="@Model.Artist.ArtistName" class="img-responsive img-rounded center-block" id="output" />

                <div class="pull-left margin-1">

                    <input type="file" class="control-label inputfile" id="file" name="file" accept="image/*" onchange="loadFile(event)" data-multiple-caption="{count} files selected">
                    <label for="file"><strong><span id="file-upload-text">Choose a profile image </span><span class="glyphicon glyphicon-upload"></span></strong></label>

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Artist.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.Address, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.Artist.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Artist.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        

        @{
            var counter = 1;
            var htmlString1 = new HtmlString("<div class='form-group row'>");
            var htmlString2 = new HtmlString("</div>");}

        @foreach (var some in Model.Artist.ArtistSocialMedias)
        {

            if (counter % 2 == 0)
            {
                @htmlString1
            }

            @Html.Label(some.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-4">

                @*@Html.EditorFor(modelItem => some.Url, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.TextBoxFor(i => some.Name, null, new { @class = "form-control single-line", placeholder = some.Name, value = some.Url })*@
                <input type="text" value="@some.Url" name="@some.Name" class="form-control" />
                @Html.ValidationMessageFor(model => some.Name, "", new { @class = "text-danger" })
            </div>
            if (counter % 2 == 0)
            {
                @htmlString2
            }
            {
                counter++;
            }
        }

        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Save this great artist!" class="btn btn-aquavit pull-right" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/custom/fileInput.js"></script>
}
