@model AquavitBEAT.Models.SongViewModel

@{
    ViewBag.Title = "Create Song";
}

@section Styles {
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/jqueryuicss")
}

<h2>Create new song</h2>
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("AddSong", "Songs", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "song-form"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    
                
                    @Html.LabelFor(model => model.Song.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Song.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Song.Title, "", new { @class = "text-danger" })
                    </div>


@Html.LabelFor(model => model.Song.RemixName, htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-4">
    @Html.EditorFor(model => model.Song.RemixName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Song.RemixName, "", new { @class = "text-danger" })
</div>

                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Song.Artists, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("ArtistID", null, null, new { @class = "selectpicker form-control", id = "selectArtists", multiple = true })
                        @Html.ValidationMessageFor(model => model.Song.Artists, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-md-2 control-label">Remixer(s)</label>
                    <div class="col-md-4">
                        @Html.DropDownList("RemixerID", null, null, new { @class = "selectpicker form-control", id = "selectArtists", multiple = true })
                        @Html.ValidationMessageFor(model => model.Song.Remixers, "", new { @class = "text-danger" })
                    </div>
                
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Song.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Song.Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Song.Comment, "", new { @class = "text-danger" })
                    </div>
                
                    @Html.LabelFor(model => model.Song.AudioUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        
                        
                         <input type="file" id="file" name="audioFile" class="control-label inputfile" data-multiple-caption="{count} files selected" />
                        <label for="file"><span class="glyphicon glyphicon-upload"></span><span id="file-upload-text"><strong>&nbsp;Choose a song</strong></span></label>
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Song.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Song.ReleaseDate, new { htmlAttributes = new { @class = "form-control", id = "datepicker"} })
                        @Html.ValidationMessageFor(model => model.Song.ReleaseDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add new great track!" class="btn btn-aquavit" />
                    </div>
                </div>
            </div>
        }

    </div>
    
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryui")
@*<script src="~/Scripts/custom/selectPicker.js" type="text/javascript"></script>*@
    <script src="~/Scripts/custom/fileInput.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {

            var selectPicker = $('.selectpicker');
            
            selectPicker.selectpicker({
                liveSearch: true,
                liveSearchStyle: 'contains',
                //mobile: true,
                title: 'Choose artist ...',
                size: 10
            });

            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true

            });

        });

        //var loadFile = function (event) {
        //    var output = document.getElementById('output');
        //    output.src = URL.createObjectURL(event.target.files[0]);
        //};
    </script>

}