@model AquavitBEAT.Models.Song

@{
    ViewBag.Title = Model.Title;
}

<div class="row bottom-air-1">
    <h2>@Model.Title</h2>
    <audio controls>
        <source src="@Model.AudioUrl" />
    </audio>
</div>

<div class="white-text dark-back">
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemixName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemixName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
