@model AquavitBEAT.Models.Song

@{
    ViewBag.Title = Model.Title;
}

<div class="row bottom-air-1">
    <div class="col-md-8 col-md-push-2 bottom-air-2">
        <h2><a href="/Songs/Edit/@Model.SongId"><span class="glyphicon glyphicon-pencil"></span></a>
            @Model.Title (@Model.RemixName) by:
            @foreach (var item in Model.Artists)
            {
                <span><a href="/Artist/@item.ArtistId">@item.ArtistName //</a></span>
            }

    </h2>
        <audio controls>
            <source src="@Model.AudioUrl" />
        </audio>
    </div>

    <div class="col-md-8 col-md-push-2">

        <p><span>Remix by:&nbsp;&nbsp;</span>

            @foreach (var item in Model.Remixers)
        {
                <a href="/Artist/@item.ArtistId">@item.ArtistName //</a>
        }
        </p>
    <p><span>@Html.DisplayNameFor(model => model.ReleaseDate)</span> <span>@Html.DisplayFor(model => model.ReleaseDate)</span></p>
        <p><span>@Html.DisplayNameFor(model => model.Comment)</span> <span>@Html.DisplayFor(model => model.Comment)</span></p>

</div>


</div>




